img
{
	max-width: 100%;
}

.calendar {
	img
	{
		width: 100%;
	}
}

.this-week * {
	background-color: #fcf8e3;
}

.timetable-footer {
	@extend .bg-white;
}

.navbar {
	@extend .navbar-light;
}

.dark-mode-switch {
	cursor: pointer;
}

body.dark {
	@extend .bg-dark;
	@extend .text-light;

	.navbar {
		@extend .navbar-dark;
	}

	.dropdown-menu,
	.page-link {
		@extend .bg-dark;
	}

	.page-item.active .page-link {
		@extend .bg-primary;
	}

	.dropdown-item {
		@extend .text-light;

		&:hover {
			@extend .bg-secondary;
		}
	}

	.table {
		@extend .table-dark;
	}

	.form-control {
		@extend .bg-secondary;
		@extend .text-light;
	}

	.card {
		@extend .bg-dark;
		@extend .text-light;
		@extend .border-light;

		.card-header {
			@extend .border-light;
		}
	}

	.this-week * {
		background-color: darken($purple, 25%);
	}

	.timetable-footer {
		@extend .bg-dark;
	}
}
